footer {
	background: rgba(255, 255, 255, 0.8);
	color: #333;
	font-size: 12px;
	width: 100%;
	min-width: 491px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
    	margin-top: 20px;
}
