header {
    position: relative;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-width: 490px;
}

.header-left, .header-center, .header-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-left {
    left: 20px;
}

.header-center {
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-right {
    right: 20px;
    display: flex;
    align-items: center; 
    gap: 20px;
}

header div:nth-child(3) a img {
    height: 20px;
    width: 20px;
}

header div:nth-child(3) p {
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 18px;
}

#logo {
    margin-top: 5px;
    height: 90px;
}

.search-form {
    display: flex;
    align-items: center;
}

    .search-form input[type="text"] {
        padding: 6px 10px;
        border: 1px solid #ccc;
        border-radius: 5px 5px 5px 5px;
        outline: none;
    }

    .search-form button {
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 5px 5px 5px 5px;
        cursor: pointer;
        height: 30px;
        width: 30px;
    }
        .search-form button > img {
            display: block;
            width: 90%;
            height: auto;
        }

        .search-form button:hover {
            background-color: lightgray;
        }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(63, 81, 181, 0.8);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    min-width: 490px;
}

nav li {
    margin: 0;
}

nav a {
    color: white;
    padding: 14px 20px;
    display: block;
    text-decoration: none;
}

    nav a:hover {
        background-color: #303f9f;
    }

#nav-admin {
    margin-top: -20px;
}

@media (max-width: 620px) {
    .search-form input[type="text"] {
        width: 120px;
    }

    .header-right {
        flex-wrap: wrap;
        align-items: flex-end;
        max-width: 120px;
    }

    header div:nth-child(3) a img {
        margin-top: 8px;
    }

    .header-right p#greeting {
        width: 100%;
        text-align: right;
        margin: -8px 0 0 0;
    }
}

@media (max-width: 520px) {
    .search-form input[type="text"] {
        width: 80px;
    }
}
